:root {
    --background: #dcdcdc;
    --accent: #191970;
    --light-text: #ffffff;
    --dark-text: #0d0d0d;

    --heading: 'Source Sans Pro', 'sans-serif';
    --body: 'Source Code Pro', 'monospace';

    --text-size: 1.2rem;
}

.main {
    height: 200vh;
    padding-top: 80px;
    margin: 0;
    font-family: var(--body);
}

body {
    background: var(--background);
    margin: 0;
}

header {
    font-family: var(--heading);
    color: var(--light-text);
    background: var(--accent);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}

/***************
**** NAVBAR ****
***************/

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--light-text);
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    background: var(--accent);
    width: 100%;
    position: absolute;
    text-align: right;
    top: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: var(--light-text);
    font-size: var(--text-size);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--light-text);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / span 1;
    }

    nav {
        position: relative;
        text-align: center;
        transition: none;
        transform: scale(1,1);
        background: none;
        top: initial;
        left: initial;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--light-text);
        position: absolute;
        width: 100%;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
        transform-origin: left;
    }

    .main {
        display: grid;
        height: 200vh;
        padding-top: 80px;
        margin: 0;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .main h1 {
        grid-column: 1 / 2;
        text-align: center;
    }
}
